
{% extends 'base.html' %}

{% block content %}
<!-- a form for entering a search term with a button to submit  -->
<!-- align the text input with the button -->



<form action="/" method="POST">
  <div class="search-form">
  <input type="text" name="search" required="true">
  <input type="submit" value="Search" autofocus>
  </div>
</form>

{% if matches %}

<ul>
{% for name, score in matches %}
  <li><a href="{{ url_for('root.view', score_name=name) }}">{{ score.metadata.title }}</a></li>
{% endfor %}
</ul>

{% endif %}
{% endblock %}

